.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

button {
  padding: 0;
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: none;
}

i[class^="ico-"],
i[class*="ico-"] {
  display: inline-block;
  vertical-align: top;
}

.common-inner {
  position: relative;
  max-width: 1700px;
  margin: 0 auto;
}

[class^="section-"] {
  padding-top: 140px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-pagination-progressbar {
  position: static;
  height: 2px !important;
  background-color: #ccc;
}

.swiper-pagination-progressbar-fill {
  background-color: #000 !important;
}

.btn-arrow {
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 65px;
  margin-top: 0;
  transform: translateY(-50%);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px auto;
}

.btn-prev {
  left: 0;
  background-image: url("../images/common/swiper_left_arrow.svg");
}

.btn-next {
  right: 0;
  background-image: url("../images/common/swiper_right_arrow.svg");
}

.btn-like {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 30px;
  height: 30px;
  background: url(../images/common/ico_like_01.svg) no-repeat center center;
  background-size: 20px auto;
}

.product-list .link-product {
  position: relative;
  display: block;
}

.product-list .thumb-box {
  margin-bottom: 15px;
}

.product-list .brand {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 13px;
}

.product-list .name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
}

.product-list.multiple .name {
  -webkit-line-clamp: 2;
}

.product-list .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-list .discount-price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.product-list .discount-rate {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ff4600;
}

.hashtag {
  display: flex;
  column-gap: 3px;
  max-height: 28px;
}

.hashtag li {
  padding: 0 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, .9);
}

.common-headline {
  font-size: 24px;
  line-height: 31px;
  font-weight: 500;
  margin-bottom: 30px;
}

.common-headline a {
  display: inline-flex;
  align-items: center;
  column-gap: 13px;
}

.common-headline a::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 13px;
  background: url("../images/common/ico_more_01.svg") no-repeat right center;
}

.common-title {
  display: block;
  max-height: 104px;
  font-size: 42px;
  font-weight: 300;
  line-height: 52px;
}

.common-title.white {
  color: #fff;
}

.thumb-dim {
  position: relative;
}

.thumb-dim::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .2);
  pointer-events: none;
}