.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

button {
  padding: 0;
  cursor: pointer;
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

i[class^="ico-"],
i[class*="ico-"] {
  display: inline-block;
  vertical-align: top;
}

.common-inner {
  position: relative;
  /* max-width: 1900px; */
  /* padding: 0 50px; */
  max-width: 1700px;
  margin: 0 auto;
}