.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

button {
  padding: 0;
  cursor: pointer;
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

i[class^="ico-"],
i[class*="ico-"] {
  display: inline-block;
  vertical-align: top;
}

.common-inner {
  position: relative;
  /* max-width: 1900px; */
  /* padding: 0 50px; */
  max-width: 1700px;
  margin: 0 auto;
}

.common-inner [class^="section-"] {
  padding-top: 140px;
}

.swiper-button-prev:after, 
.swiper-button-next:after {
  display: none;
}

.btn-arrow {
  width: 40px;
  height: 65px;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px auto;
}
.btn-prev {
  left: 0;
  background-image: url("../images/common/swiper_left_arrow.svg");
}
.btn-next {
  right: 0;
  background-image: url("../images/common/swiper_right_arrow.svg");
}

.btn-like {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../images/common/ico_like_01.svg) no-repeat center center;
  background-size: 20px auto;
}

.product-list .link-product {
  position: relative;
  display: block;
}
.product-list .brand {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 13px;
}
.product-list .name {
  color: #000000;
  line-height: 18px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-list .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-list .discount-price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.product-list .discount-rate {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ff4600;
}

.common-headline {
  font-size: 24px;
  line-height: 31px;
  font-weight: 500;
  margin-bottom: 30px;
}
.common-headline a {
  display: inline-flex;
  align-items: center;
  column-gap: 13px;
}
.common-headline a::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 13px;
  background: url("../images/common/ico_more_01.svg") no-repeat right center;
}