@import './reset.css';
@import './common.css';
@import './typo.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  color: #000;
  word-break: break-all;
  background-color: #fff;
}

#wrap {
  min-width: 1260px;
}

.main-content {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 50px;
  overflow: hidden;
}

/* header */
.header {
  position: relative;
  min-height: 75px;
}

.fixed-header {
  min-width: 1260px;
  width: 100%;
  height: 126px;
  background-color: #fff;
}

.header .logo {
  height: 61px;
  padding-top: 35px;
  padding-left: 50px;
}

.header .logo a {
  display: block;
}

.header .logo a::before {
  content: '';
  display: block;
  width: 145px;
  height: 19px;
  background: url(../images/common/logo.svg) no-repeat center;
}

.header .group-util {
  position: absolute;
  top: 20px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 55px;
}

.header .group-util .search-area {
  position: relative;

}

.header .group-util .search-input {
  width: 540px;
  height: 40px;
  border-radius: 20px;
  background-color: #f1f3f8;
  overflow: hidden;
}

.header .group-util .btn-search {
  position: absolute;
  top: 0;
  right: 10px;
  transition: right 200ms ease;
}

.header .group-util .ico-search {
  width: 40px;
  height: 40px;
  background: url("../images/common/ico_search_01.svg") no-repeat center/20px 100%;
}

.header .rolling-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header .link-rolling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 80px;
}

.header .link-rolling .title {
  display: block;
  font-size: 13px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.header .util-list {
  display: flex;
  column-gap: 15px;
}

.header .link-util {
  position: relative;
  display: block;
  height: 40px;
}

.header .ico-util {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px auto;
}

.header .util-item.login .ico-util {
  background-image: url("../images/common/ico_login_01.svg");
}

.header .util-item.mypage .ico-util {
  background-image: url("../images/common/ico_mypage_01.svg");
}

.header .util-item.history .ico-util {
  background-image: url("../images/common/ico_history_01.svg");
}

.header .util-item.cart .ico-util {
  background-image: url("../images/common/ico_cart_01.svg");
}

.header .util-item.cart .count {
  position: absolute;
  top: 10px;
  right: 2px;
  height: 15px;
  padding: 0 6px;
  font-size: 10px;
  line-height: 15px;
  color: #fff;
  border-radius: 50%;
  background-color: #000;
}

.header .group-gnb {
  display: flex;
  justify-content: space-between;
  padding: 0 39px;
  height: 65px;
  border-bottom: 1px solid transparent;
}

.header .group-gnb .column-left,
.header .group-gnb .column-right {
  display: flex;
}

.header .gnb-list {
  display: flex;
  align-items: center;
  position: relative;
}

.header .gnb-list+.gnb-list {
  margin-left: 11px;
  padding-left: 13px;
}

.header .gnb-list+.gnb-list::before {
  content: '';
  position: absolute;
  left: 0;
  top: 46%;
  width: 1px;
  height: 13px;
  background-color: #000;
}

.header .gnb-item.home,
.header .gnb-item.more {
  display: none;
}

.header .gnb-item.more .link-gnb::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 3px;
  background: url("../images/common/ico_select_off01.svg") no-repeat center;
}

.header .link-gnb {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 27px 11px 18px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.header .column-left .link-gnb:hover {
  color: #00bab4;
}

.header .link-gnb::before {
  display: none;
  content: '';
  position: absolute;
  bottom: 10px;
  left: 11px;
  right: 11px;
  height: 2px;
}

.header .column-left .link-gnb::before {
  background-color: #00bab4;
}

.header .column-right .link-gnb::before {
  background-color: #000;
}

.header .link-gnb:hover::before {
  display: block;
}

.header .lnb-container {
  display: none;
  position: fixed;
  top: 125px;
  left: 0;
  right: 0;
  z-index: 9;
  min-width: 1260px;
  width: 100%;
  justify-content: space-between;
  padding: 30px 50px 78px;
  background-color: #fff;
}

.header .lnb-container.is-visible {
  display: flex;
}

.header.is-fixed .lnb-container {
  top: 75px;
}

.header .lnb-list-area {
  display: flex;
  width: 60%;
}

.header .lnb-list-area .column {
  width: 17%;
  min-width: 160px;
  max-width: 180px;
}

.header .lnb-list-area .category {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.header .lnb-item+.lnb-item {
  margin-top: 8px;
}

.header .link-lnb {
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}

.header .link-lnb:hover {
  color: #000;
}

.header .lnb-container .banner-list-area {
  width: 30%;
  max-width: 540px;
}

.header .lnb-container .banner-list {
  display: flex;
}

.header .lnb-container .banner-item {
  width: 50%;
  padding: 0 5px;
}

.header .lnb-container .banner-item .thumb-box a {
  position: relative;
  display: block;
  padding-top: 60.76%;
  margin-bottom: 14px;
}

.header .lnb-container .banner-item .thumb-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header .lnb-container::before {
  content: '';
  position: absolute;
  top: 27px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 75%;
  padding-left: 50px;
  border-left: 1px solid #eee;
  margin-left: 30px;
}

.header .lnb-container .banner-item .title,
.header .lnb-container .banner-item .desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;

}

.header .lnb-container .banner-item .title {
  line-height: 20px;
}

.header.is-fixed .logo,
.header.is-fixed .rolling-banner {
  display: none;
}

.header.is-fixed .search-input {
  width: 40px;
  border-radius: 0;
  background-color: transparent;
  pointer-events: none;
}

.header.is-fixed .btn-search {
  right: 0;
}

.header.is-fixed .group-gnb {
  height: 100%;
  padding-left: 36px;
  padding-right: 340px;
  border-bottom-color: #eee;
}

.header.is-fixed .fixed-header {
  height: 75px;
}

.header.is-fixed .group-util {
  top: 17px;
  column-gap: normal;
}

.header.is-fixed .util-area {
  margin-left: 15px;
}

.header.is-fixed .fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.header.is-fixed .link-gnb {
  display: flex;
  align-items: center;
  padding: 0 11px;
}

.header.is-fixed .group-gnb,
.header.is-fixed .gnb-list {
  align-items: stretch;
}

.header.is-fixed .gnb-item.home {
  display: block;
}

/* footer */
.footer {
  padding: 100px 80px;
  margin-top: 100px;
  background-color: #222;
}

.footer .inner {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.footer .group-row {
  display: flex;
  justify-content: space-between;
}

.footer .group-row.top {
  align-items: center;
}

.footer .group-row.bottom {
  align-items: flex-end;
}

.footer .logo-area {
  display: flex;
  column-gap: 60px;
}

.footer .logo a {
  display: block;
}

.footer .logo img {
  width: 145px;
  height: 19px;
}

.footer .corporation-list {
  display: flex;
  column-gap: 40px;
}

.footer .link-corporation {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.footer .legal-list {
  display: flex;
  column-gap: 40px;
}

.footer .link-legal {
  font-size: 14px;
  line-height: 19px;
  color: #999;
}

.footer .owner {
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.footer .info-list {
  margin-top: 6px;
}

.footer .info-item {
  display: flex;
}

.footer .info-item+.info-item {
  margin-top: 3px;
}

.footer .info-item span {
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.footer .info-item span+span {
  margin-left: 20px;
}

.footer .info-item.line span {
  margin-left: 0;
}

.footer .info-item.line span+span::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: calc(100% - 6px);
  margin: 0 6px;
  background-color: #bbb;
  vertical-align: -1px;
}

.footer .pay-info {
  display: flex;
  column-gap: 20px;
  margin-top: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.footer .pay-info .link-pay {
  margin-left: 5px;
  line-height: 16px;
  color: #999;
  text-decoration: underline;
}

.footer .sns-list {
  display: flex;
  column-gap: 14px;
}

.footer .link-sns {
  display: block;
  width: 57px;
  height: 57px;
}

/* media query */
@media screen and (max-width: 1750px) {
  .header.is-fixed .gnb-item.more {
    display: block;
  }

  .header.is-fixed .gnb-item.more~.gnb-item {
    display: none;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1700px) {
  .header .link-gnb {
    font-size: 14px;
  }
}

@media screen and (max-width: 1500px) {

  /* header */
  .header .link-gnb {
    font-size: 13px;
  }

  .header .lnb-container::before {
    top: 5%;
    left: 56%;
    transform: translateY(0);
  }

  .header .lnb-container .banner-list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
  }
}